<%if @res.valid?%>
    <h2>Результат:</h2>
    <div class="tabled">
        <div class="cap">
            <div class="thead">
                <div class="rowt">
                    <div class="col1">Номер</div>
                    <div class="col2">Результат вычислений</div>
                </div>
            </div>
            <div class = "tbody">
                <%result = @res.result%>
                <%result.each_index do |index|%>
                  <div class = "rowt">
                    <div class = "col1"><%=index + 1%></div>
                    <div class = "col2" id="val_<%=(index + 1)%>" ><%=result[index]%></div>
                  </div>
                <%end%>
            </div>
        </div>
    </div>
    <%if @res.result.length == 1000%>
        <h3>Для числа <%=result[0] + ' ' + 'гипотеза не подтверждена'%></h3> 
    <%else%>
        <h3>Для числа <%=result[0] + ' ' + 'гипотеза подтверждена'%></h3>
    <%end%>
    <h4><%=link_to 'Вернуть', root_path%></h4>
<%else%>
<h2>Ошибки ввода:</h2>
<ul>
  <%@res.errors.each do |error|%>
    <li><%= error.full_message%></li>
  <%end%>
</ul>
<%end%>